<div class="container">
    <mat-card class="example-card">
        <img class="image" mat-card-image src="../../../assets/images/Air_Jordan_37.jpeg"/>
        <mat-card-title>Air Jordan 37</mat-card-title>
        <mat-card-content>
          <p>Price: 180</p>
        </mat-card-content>
        <mat-card-actions>
          <button class="button" mat-flat-button color="primary">В Корзину</button>
          <button class="button" mat-flat-button color="primary">Подробнее</button>
        </mat-card-actions>
      </mat-card>
    <mat-card class="example-card">
        <img class="image" mat-card-image src="../../../assets/images/Nike_KD_Trey_5_X.jpeg"/>
        <mat-card-title>Nike KD Trey 5 X</mat-card-title>
        <mat-card-content>
          <p>Price: 200</p>
        </mat-card-content>
        <mat-card-actions>
          <button class="button" mat-flat-button color="primary">В Корзину</button>
          <button class="button" mat-flat-button color="primary">Подробнее</button>
        </mat-card-actions>
      </mat-card>
    <mat-card class="example-card">
        <img class="image" mat-card-image src="../../../assets/images/Nike_Kobe_6.jpeg"/>
        <mat-card-title>Nike Kobe 6</mat-card-title>
        <mat-card-content>
          <p>Price: 240</p>
        </mat-card-content>
        <mat-card-actions>
          <button class="button" mat-flat-button color="primary">В Корзину</button>
          <button class="button" mat-flat-button color="primary">Подробнее</button>
        </mat-card-actions>
      </mat-card>
    <mat-card class="example-card">
        <img class="image" mat-card-image src="../../../assets/images/Jordan_Luka_1.jpeg"/>
        <mat-card-title>Jordan Luka 1</mat-card-title>
        <mat-card-content>
          <p>Price: 200</p>
        </mat-card-content>
        <mat-card-actions>
          <button class="button" mat-flat-button color="primary">В Корзину</button>
          <button class="button" mat-flat-button color="primary">Подробнее</button>
        </mat-card-actions>
      </mat-card>
    <mat-card class="example-card">
        <img class="image" mat-card-image src="../../../assets/images/Nike_Cosmic_Unity_2.jpeg"/>
        <mat-card-title>Nike Cosmic Unity 2</mat-card-title>
        <mat-card-content>
          <p>Price: 240</p>
        </mat-card-content>
        <mat-card-actions>
          <button class="button" mat-flat-button color="primary">В Корзину</button>
          <button class="button" mat-flat-button color="primary">Подробнее</button>
        </mat-card-actions>
      </mat-card>
</div>